<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>博客</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="bookmark" href="/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/cos-js-sdk-v5/demo/common/cos-auth.min.js"></script>
    <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>

    <script src="js/qiniu.js"></script>
    <script src="js/moxie.js"></script>
    <script src="js/plupload.min.js"></script>

    <link rel="stylesheet" href="css/common.css">
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/blog.css">
    <script src="js/blog.js"></script>
    <script type="text/javascript">
        window.onload=function(){

            $('body').removeClass('is-loading');
        }
    </script>
</head>
<body class="is-loading">
<div class="curtain">
    <div class="loader">
        loading...
    </div>
</div>
<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img style="width: 100px" src="/img/wubo.png" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="navbtn "><a href="/">主页</a></li>
                <li class="navbtn"><a class="nowhtml" href="/blog">博客</a></li>
                <li class="navbtn"><a href="/Vlog">Vlog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbtn"><a class=" msg" href="<%=url%>"><%=info%></a></li>
                <li class="navbtn" style="<%=style1%>"><a href="/registered">注册</a></li>
                <li class="navbtn" style="<%=style%>"><a  id="exit">退出</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">联系我 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://weibo.com/92wubo/home">微博</a></li>
                        <li><a href="https://www.zhihu.com/people/wu-bo-4-60/activities">知乎</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-9">
                    <div class="blogHeader">
                        <div class="sea">
                            <input type="text" class="seainp" placeholder="输入你要搜索的内容">
                            <input type="button" value="搜索" class="seabtn">
                        </div>
                    </div>
                    <div id="blogBarBlock">
                        <!--<div class="col-md-6 blogBar">
                        <div class="senderInfo">
                            <img src="../img/demoimg.png" alt="">
                            <a class="sendername" href="../home/test0000">测试账号</a>
                            <p class="title">《 <a href="../blog/00027">西喜爱</a> 》</p>
                            <i class="sendTime">2019-4-17 14:35</i>
                        </div>
                        <div class="blogCon"></div>
                        <div class="blogBarFooter">
                            <a class="readAll" href="../blog/00027">查看全文</a>
                            <p class="likeBtn glyphicon glyphicon-heart like" ><i class="Lnum">12</i></p>
                        </div>
                    </div>-->
                    </div>
                    <div id="morebtn"><input type="button" value="加载更多" id="more"></div>
                </div>
                <div class="col-md-3" style="padding: 0; margin-top: 60px;" id="rightBarBlock">
                    <div id="rightBar">
                        <p class="glyphicon glyphicon-list-alt">公示栏</p>
                    </div>
                    <div id="rightBar">
                        <p class="glyphicon glyphicon-link">推荐网站</p>
                    </div>
                    <div id="rightBar">
                        <p>小黑屋</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>

<div id="ide">
    <div class="panel panel-default">
        <div class="panel-heading"><img style="width: 30px" src="img/pen.png" alt="">发表文章 <span class="glyphicon glyphicon-remove" id="closeIde"></span></div>
        <div class="panel-body">
            <div><table>标题：<input type="text" id="Btitle"></table></div>
            <div id="editor">
            </div>
            <div class="blogbtn">
                <input type="button" value="发表" id="sendB">
            </div>
        </div>
    </div>
</div>
<a style="<%=style%>"  class="glyphicon glyphicon-pencil Bbtn"></a>
<a  class="glyphicon glyphicon-arrow-up Up"></a>
<div class="tips"></div>
</body>
</html>