<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>巫婆婆的个人网站</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="bookmark" href="/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/index.js"></script>
    <script src="../js/common.js"></script>


    <script type="text/javascript">
        window.onload=function(){
            $('body').removeClass('is-loading');

        }
    </script>
</head>
<body class="is-loading">
<div class="curtain">
    <div class="loader">
        loading...
    </div>
</div>
<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img style="width: 100px" src="/img/wubo.png" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="navbtn "><a class="nowhtml" href="/">主页</a></li>
                <li class="navbtn"><a href="/blog">博客</a></li>
                <li class="navbtn"><a href="/Vlog">Vlog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbtn"><a class=" msg" href="<%=url%>"><%=info%></a></li>
                <li class="navbtn" style="<%=style1%>"><a href="/registered">注册</a></li>
                <li class="navbtn" style="<%=style%>"><a  id="exit">退出</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">主页目录 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">巫婆婆的告示牌</a></li>
                        <li><a href="">热门文章</a></li>
                        <li><a href="">巫婆婆的Vlog</a></li>
                        <li><a href="">网友问答</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">联系我 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://weibo.com/92wubo/home">微博</a></li>
                        <li><a href="https://www.zhihu.com/people/wu-bo-4-60/activities">知乎</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>



<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-9">

                    <div id="banner">
                        <div class="img">
                            <img class="active_img" src="/img/big1.jpg" alt="">
                            <img src="/img/big2.jpg" alt="" style="display: none">
                            <img src="/img/big3.jpg" alt="" style="display: none">
                        </div>
                        <div class="banner_btn">
                            <div class="btn_left glyphicon glyphicon-chevron-left"></div>
                            <div class="btn_right glyphicon glyphicon-chevron-right"></div>
                        </div>
                    </div>

                    <div id="hotArt">
                        <div class="hotHeader">
                            <p>热门文章</p>
                        </div>
                        <div class="artBody">
                            <h3><%=hblog.title%></h3>
                            <div>
                                <%-hblog.content%>
                            </div>
                        </div>
                        <div class="artFooter">
                            <a href="/blog/<%=hblog.id%>">去往原文章</a>
                            <a href="/blog/<%=hblog.id%>#sendinp">评论</a>
                            <i><%=hblog.time%></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="notice">
                        <div class="noticeHeader">
                            公示栏
                        </div>
                        <div class="noticeBody">

                        </div>
                    </div>

                    <div id="vlog">
                        <div class="vlogHeader">
                            最新一期的vLog
                        </div>
                        <video  controls="controls" style="width: 100%" class="vlogBody"></video>
                    </div>

                    <div id="recommend">
                        <div class="recHeader">
                            推荐阅读
                        </div>
                        <ul class="recBody">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>

</body>
</html>